{% extends "CleanWaterMapBundle::layout.html.twig" %}
{% block title %}{{ parent() }}{% endblock %}

{% block CleanWater_body %}
<div class="row " > 
    <div class="index_bordure">
        <div class="panel panel-default" style="padding:20px;display: inline-block;position: fixed;top:25%;left:23%;">
    
        <h3 class="panel-title">

            <h2>CleanWaterMap</h2><br>
            <h3>***********************************</h3>

            <br>
            <blockquote>
                <p style="padding-left: 60px"> 
                ** <br>
                ** <br>
                ** <br>
                </p>

                <br>
            </blockquote>

        </h3>
   
</div>
    </div>
</div>
{% endblock %}